---
import { Image } from 'astro:assets';
import BackgroundImage from '../assets/bg.jpg';
---

<div
    class="fixed select-none pointer-events-none top-0 left-0 bottom-0 right-0 -z-50 bg-cover bg-center"
>
    <div class="h-full w-full bg-background backdrop-blur-lg absolute"></div>
    <div class="h-full w-full background-gradient absolute"></div>
    <div class="h-full w-full noise absolute"></div>
</div>